.logo{
  width: 1000px
}

h1{
  font-size: 100px;
  font-family: 'Jacques Francois Shadow', cursive;;
}

.nombre{
  color: rgb( #ba812a, #c3ae83, #000000);
  font-size: 125px;
  font-family: 'Jacques Francois Shadow', cursive;
}

.MV{
  font-size: 50px;
  font-family: 'Jacques Francois Shadow', cursive;
}

p{
  color: black;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

img{
  width: 200px;
}

.producto{
  font-size: 50px;
  font-family: 'Rubik Iso', cursive;
}